@using OhLivrosApp.Models.DTO
@model LivroDTO
@{
    ViewBag.Title = "Adicionar Livro";
}
<div style="width:50%">
    <h2>Adicionar Livro</h2>
    <a asp-action="Index" asp-controller="Livros" class="btn btn-primary">Voltar</a>

    <form asp-action="Criar" asp-controller="Livros" enctype="multipart/form-data">
        @* <input type="hidden" asp-for="Id" /> *@

        <div class="my-2">
            <label for="Titulo">Título*</label>
            <input type="text" class="form-control" asp-for="Titulo" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label for="Autor">Autor*</label>
            <input type="text" class="form-control" asp-for="Autor" />
            <span asp-validation-for="Autor" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label asp-for="GeneroFK">Género*</label>
            <select class="form-control" asp-for="GeneroFK" asp-items="Model.Generos">
                <option value="">Selecione um género</option>
            </select>
            <span asp-validation-for="GeneroFK" class="text-danger"></span>
        </div>


        <div class="my-2">
            <label for="Preco">Preço*</label>
            <input type="number" step="0.01" class="form-control" asp-for="Preco" />
            <span asp-validation-for="Preco" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label for="Imagem">Imagem</label>
            <input type="file" class="form-control" asp-for="Imagem" />
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-success">Adicionar</button>
        </div>
    </form>
</div>
