@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    
    
    <li class="nav-item">
        <a class="nav-link" href="/Carrinhos/MeuCarrinho">
            <span id="totalCar" class="badge text-bg-info">0</span>
            <i class="bi bi-cart text-white"></i>
        </a>
    </li>

    @if (SignInManager.IsSignedIn(User))
    {
        <!-- EXPÕE o GUID do Identity (Id) para o teu JS, escondido -->
        <span id="username" style="display:none;">
            @User.FindFirstValue(System.Security.Claims.ClaimTypes.NameIdentifier)
        </span>

        
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @User.Identity?.Name!
                @if (User.IsInRole("Administrador"))
                {
                    <span>(Admin)</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Sair</button>
            </form>
        </li>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
    }
</ul>